<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>github_cloud_ui_quarkus</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github_cloud_ui_vaadin</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
    <server>
      <id>github</id>
      <username>${env.USERNAME}</username>
      <password>${env.PASSWORD}</password>
    </server>
  </servers>
  <activeProfiles>
    <activeProfile>github</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>github</id>
      <properties>
        <vaadin.azure.functionAppName>xxx</vaadin.azure.functionAppName>
        <vaadin.azure.functionAppRegion>germanywestcentral</vaadin.azure.functionAppRegion>
        <vaadin.azure.functionResourceGroup>yyy</vaadin.azure.functionResourceGroup>
      </properties>
    </profile>
  </profiles>

</settings>